[github]
  user = vpatel90
[user]
	name = Vivek Patel
	email = vnp229@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = /usr/bin/vim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
